PDFPrintService/Web References/TTWebSvc/tickettrackerservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.employreward.com/services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.employreward.com/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.employreward.com/services/">
      <s:element name="MovePrintedFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MovePrintedFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MovePrintedFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MovePrintedFileSoapIn">
    <wsdl:part name="parameters" element="tns:MovePrintedFile" />
  </wsdl:message>
  <wsdl:message name="MovePrintedFileSoapOut">
    <wsdl:part name="parameters" element="tns:MovePrintedFileResponse" />
  </wsdl:message>
  <wsdl:portType name="TicketTrackerServiceSoap">
    <wsdl:operation name="MovePrintedFile">
      <wsdl:input message="tns:MovePrintedFileSoapIn" />
      <wsdl:output message="tns:MovePrintedFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TicketTrackerServiceSoap" type="tns:TicketTrackerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MovePrintedFile">
      <soap:operation soapAction="http://www.employreward.com/services/MovePrintedFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TicketTrackerServiceSoap12" type="tns:TicketTrackerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MovePrintedFile">
      <soap12:operation soapAction="http://www.employreward.com/services/MovePrintedFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketTrackerService">
    <wsdl:port name="TicketTrackerServiceSoap" binding="tns:TicketTrackerServiceSoap">
      <soap:address location="http://intranet/webservices/tickettrackerservice.asmx" />
    </wsdl:port>
    <wsdl:port name="TicketTrackerServiceSoap12" binding="tns:TicketTrackerServiceSoap12">
      <soap12:address location="http://intranet/webservices/tickettrackerservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>